* {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	max-width: 30em;
	margin: auto;
	padding: 1rem;
}

/* fieldset > label, nav > a{
	display: block;
} */

label {
	display: block;
	margin-bottom: 1rem;
	width: fit-content;
}

label:last-of-type, label:last-of-type input {
	margin-bottom: 0;
}

dl {
	margin-top: 0;
}

dt::after {
  content: ": ";
}

dt {
	display: inline;
}

dd {
	display: inline;
	margin-left: 0;
}

dd + dd::before {
	content: '& ';
}

/* label > span {
	margin-bottom: 1rem;
} */

input, button {
	font: inherit;
}

label > input, label > select {
	display: block;
	margin-bottom: 1rem;
	margin-top: 0.2rem;
}

fieldset {
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

nav > a{
	display: block;
}

br {
	display: none;
}

aside {
	/* float: left; */
	width: fit-content;
}

/* form { */
	/* float: right;
	width: 100%; */
/* } */

form {
	display: none;
}

form#personal-info-form:target {
	display: block;
}

form#wafs-form:target {
	display: block;
}

form#cssttr-form:target {
	display: block;
}

form#pwa-form:target {
	display: block;
}

form#bt-form:target {
	display: block;
}

form#rtw-form:target {
	display: block;
}

form#hcd-form:target {
	display: block;
}

form#submit-form:target {
	display: block;
}


fieldset:valid {
	outline-color: green;
	border-color: green;
}

fieldset, input {
	/* border-radius: 5px; */
}

form > div a, form > div button {
	margin: 1em 0;
	padding: .5em 1em;
	border-radius: .3em;
	border: 0;
}

form > div a:last-of-type, form > div button:first-of-type + a {
	background-color: transparent;
	/* color: black; */
	text-decoration: underline;
	text-underline-offset: 2px;
}

form > div a:first-of-type, form > div button {
	background: cornflowerblue;
	text-decoration: none;
	color: white;
}

form > div {
	padding: 0rem 0.75rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}	

input[type="range"] {
	margin-bottom: 0px;
	width: 100%;
}

ruby > input[type="range"] {
}

ruby {
	ruby-position: under;
	width: 100%;
}

rt {
	/* padding-top: 1rem; */
	margin-top: 0.5rem;
	font-size: small;
}

/* datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  writing-mode: sideways-rl;
  width: 200px;
}

option {
	width: fit-content;
  padding: 0;
} */
input[type="text"],
input[type="email"],
input[type="number"] {
	/* height: 2rem; */
	padding: 0.5rem;
	font-size: 1.2rem;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: rgb(211, 210, 255);
	border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
	outline: none;
	background-color: rgb(184, 183, 255);
	/* border-top: 1px solid black; */
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="number"]:invalid {
	border-bottom: 2px solid red;
}

input[type="text"]:placeholder-shown:invalid,
input[type="email"]:placeholder-shown:invalid,
input[type="number"]:placeholder-shown:invalid {
	border-bottom: none;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="number"]:valid {
	border-bottom: 2px solid rgb(50, 250, 93);
}

input[type="submit"] {
	padding: 0.5rem;
	font-size: 1.2rem;
}

.invalid-error {
	border-radius: 5px;
	background-color: #ffc9c9b2;
	padding: 1.2rem;
	border: 2px solid #c81400;
	margin-bottom: 0.5rem;
	color: #720b00;
	width: fit-content;
}

.invisible {
	display: none;
}

@media (min-width: 768px) {
	/* fieldset {
		padding: 2rem;
	} */
}

@media (prefers-color-scheme: dark) {
	input {
		color: black
	}
}