* {
	font-family: sans-serif;
}


/* fieldset > label, nav > a{
	display: block;
} */

label {
	display: block;
	margin-bottom: 1rem;
	width: fit-content;
}

/* label > span {
	margin-bottom: 1rem;
} */

label > input, label > select {
	display: block;
	margin-bottom: 1rem;
	margin-top: 0.2rem;
}

fieldset {
	padding: 1.5rem 1rem 1.5rem 1rem;
}

nav > a{
	display: block;
}

br {
	display: none;
}

aside {
	/* float: left; */
	width: fit-content;
}

/* form { */
	/* float: right;
	width: 100%; */
/* } */

form {
	display: none;
}

form#personal-info-form:target {
	display: block;
}

form#wafs-form:target {
	display: block;
}

form#cssttr-form:target {
	display: block;
}

form#submit-form:target {
	display: block;
}

fieldset:valid {
	outline-color: green;
	border-color: green;
}

fieldset, input {
	border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
	/* height: 2rem; */
	padding: 0.5rem;
	font-size: 1.2rem;
}

input[type="submit"] {
	padding: 0.5rem;
	font-size: 1.2rem;
}

.invalid-error {
	border-radius: 5px;
	background-color: #ffc9c9b2;
	padding: 1.2rem;
	border: 2px solid #c81400;
	margin-bottom: 0.5rem;
	color: #720b00;
	width: fit-content;
}

@media (min-width: 768px) {
	fieldset {
		padding: 2rem;
	}
}