* {
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	max-width: 30em;
	margin: auto;
	padding: 1rem;
	/* background-color: blue; */
}

main {
	position: relative;
}

h1 {
	font-size: larger;
}

/* fieldset > label, nav > a{
	display: block;
} */

label {
	display: block;
	margin-bottom: 1rem;
	width: fit-content;
}

form > label:last-of-type, form > label:last-of-type input {
	margin-bottom: 0;
}

dl {
	margin-top: 0;
}

dt::after {
  content: ": ";
}

dt {
	display: inline;
}

dd {
	display: inline;
	margin-left: 0;
}

dd + dd::before {
	content: '& ';
}

/* label > span {
	margin-bottom: 1rem;
} */

input, button {
	font: inherit;
}

label > input, label > select {
	display: block;
	margin-bottom: 1rem;
	margin-top: 0.2rem;
	width: 100%;
}

.score-labels > span {
	display: block;
}

fieldset {
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

fieldset > legend {
	font-weight: 700;
}

nav > a{
	display: block;
}

br {
	display: none;
}

aside {
	/* float: left; */
	width: fit-content;
}

.progress-label {
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
}

/* form { */
	/* float: right;
	width: 100%; */
/* } */

.progress {
	display: flex;
	align-items: center;
	gap: 5px;
}

.progress-circle {
	display: flex;

	justify-content: center;
	align-items: center;
	border: 4px solid powderblue;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	text-align: center;
	color: black;
	text-decoration: none;
}

.progress-circle:hover {
	background-color: aquamarine;
}

.completed {
	background-color: lightgreen;
	pointer-events: none;
	cursor: default;
}

.completed:hover {
	background-color: lightgreen;
}

/* .progress-circle > p {
	
	height: min-content;
	margin: 0;
} */

/* .progress-circle + .progress-circle::before {
	content: ' --> ';
} */

/* nav > a:first-of-type {

}

nav > a:first-of-type:not(:target) {
	display: none;
} */

form {
	display: none;
	position: absolute;
	background-color: white;
	width: 100%;
	height: 40rem;
	max-height: 70vh;

	z-index: 2
}

form::before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	background-color: white;
	width: 100%;
	height: 100%;
}

form:first-of-type {
	display: block;
	z-index: 0;
	/* background-color: hotpink; */
}

/* form:last-of-type {
	height: 70vh;
} */

/* form.invisible {
	display: none;
} */

/* form:first-of-type:not(:target) {
	display: none;
} */

form:target {
	display: block;
	height: 40rem;
	max-height: 70vh;
}

/* form#personal-info-form:target {
	display: block;
}

form#wafs-form:target {
	display: block;
}

form#cssttr-form:target {
	display: block;
}

form#pwa-form:target {
	display: block;
}

form#bt-form:target {
	display: block;
}

form#rtw-form:target {
	display: block;
}

form#hcd-form:target {
	display: block;
}

form#submit-form:target {
	display: block;
} */


fieldset:valid {
	outline-color: green;
	border-color: green;
}

fieldset, input {
	/* border-radius: 5px; */
}

form > div a, form > div button {
	margin: 1em 0;
	padding: .5em 1em;
	border-radius: .3em;
	border: 0;
}

form > div a:last-of-type, form > div button:first-of-type + a {
	background-color: transparent;
	/* color: black; */
	/* color: rgb(211, 210, 255); */
	color: black;
	text-decoration: underline;
	text-underline-offset: 2px;
}

form > div a:first-of-type, form > div button {
	background: cornflowerblue;
	text-decoration: none;
	color: white;
}

form > div {
	padding: 0rem 0.75rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}	

input[type="range"] {
	margin-bottom: 0px;
	width: 100%;
}

ruby > input[type="range"] {
}

ruby {
	/* display: block; */
	ruby-position: under;
	width: 100%;
}

rt {
	/* padding-top: 1rem; */
	margin-top: 0.5rem;
	font-size: small;
}

/* datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  writing-mode: sideways-rl;
  width: 200px;
}

option {
	width: fit-content;
  padding: 0;
} */
input[type="text"],
input[type="email"],
input[type="number"] {
	/* height: 2rem; */
	padding: 0.5rem;
	font-size: 1.2rem;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: rgb(211, 210, 255);
	border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
	outline: none;
	background-color: rgb(184, 183, 255);
	/* border-top: 1px solid black; */
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="number"]:invalid {
	border-bottom: 2px solid red;
}

input[type="text"]:placeholder-shown:invalid,
input[type="email"]:placeholder-shown:invalid,
input[type="number"]:placeholder-shown:invalid {
	border-bottom: none;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="number"]:valid {
	border-bottom: 2px solid rgb(50, 250, 93);
}

input[type="submit"] {
	padding: 0.5rem;
	font-size: 1.2rem;
}

.submit-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.submit-wrapper > p {
	padding-left: 1rem;
}

.invalid-error {
	border-radius: 5px;
	background-color: #ffc9c9b2;
	padding: 1.2rem;
	border: 2px solid #c81400;
	margin-bottom: 0.5rem;
	color: #720b00;
	width: fit-content;
}

.invisible {
	display: none;
}

@media (min-width: 768px) {
	/* fieldset {
		padding: 2rem;
	} */
}

@media (prefers-color-scheme: dark) {
	/* nav > a {
		color: white;
	} */

	html {
		background-color: #1c1b22;
	}

	form {
		background-color: #1c1b22;
	}

	form::before {
		background-color: #1c1b22;
	}

	nav > a{
		/* text-decoration-color: rgb(158, 158, 255); */
		/* text-decoration-color: rgb(158, 158, 255); */
		/* color: rgb(140,140,255) */
	}

	form > div a:last-of-type, form > div button:first-of-type + a {
		color: rgb(211, 210, 255);
	}

	nav > a:visited {

		color: #e196ff;
	}

	/* nav > a:visited {
		color: plum;
	} */
	input {
		color: black
	}
}